/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Feb, 2015, 8:58:48 PM
    Author     : parth
*/

@media(max-device-width:768px){
    
    .header{
        min-height:200px !important;
    }
    .name{
        font-size:4em !important;
        padding:10px;
        padding-top:26px;
    }
    .header-info{
        padding:20px;
    }
    
    .main-menu ul li a{
        font-size:1.2em;
    }
}
